/***********************************
GENERAL
***********************************/

body {
  /*font-family: 'Varela Round', sans-serif;*/
  font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: rgb(40, 43, 64);
}

p {
  font-size: 1.2em;
}

h2 {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 3em;
    font-weight: 600;
}

p {
 color: rgb(40, 43, 64);
}

.intro {
  font-weight: 500;
  font-size: 20px;
}

section {
  padding: 60px 0;
}

.border-bottom {
  border-bottom: 2px solid #f6f9fa;
}

#section1 {
  padding-top: 50px;
  height: 500px;
  color: #fff;
  background-color: #1E88E5;
}

#section2 {
  padding-top: 50px;
  height: 500px;
  color: #fff;
  background-color: #673ab7;
}

#section3 {
  padding-top: 50px;
  height: 500px;
  color: #fff;
  background-color: #ff9800;
}

#section4 {
  padding-top: 50px;
  height: 500px;
  color: #fff;
  background-color: #00bcd4;
}

#section5 {
  padding-top: 50px;
  height: 500px;
  color: #000;
  background-color: #fff;
}

#section6 {
  padding-top: 50px;
  height: 500px;
  color: #fff;
  background-color: #009688;
}

#section7 {
  padding-top: 50px;
  height: 500px;
  color: #000;
  background-color: #fff;
}

.bg-primary {
  background-color: #F05F40;
}

.btn .caret {
  margin-left: 45px;
}

.flag {
  max-width: 32px;
  height: auto;
}

.no-padding {
  padding: 0;
}


/***********************************
COLORS
***********************************/

.bg-dark {
  background-color: #222222;
  color: white;
}

.bg-light {
  background-color: #f7f8fa;
  color: #5c666d;
}

/***********************************
NAVIGATION
***********************************/

.navbar-default {
  background-color: #fff;
  border-color: transparent;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  padding-top: 10px;
  /*font-family: 'Varela Round', sans-serif;*/
}

/* add border when scrolling */
.navbar-default.affix {
  border-bottom: 1px solid #DADFE2;
}

.navbar-header {
  margin-bottom: 15px;
}



.navbar-default .navbar-header .navbar-brand {
  font-family: "Source Sans Pro", "Open Sans", sans-serif;
  font-weight: 600;

  /*color: #70B8FF;*/
  color: #70B8FF;
  /*border-radius: 5px;*/
  border: solid 2px #70B8FF;
  border-radius: 4px;
    background-color: #70B8FF;
      color: #fff;
  margin-left: 15px;
  padding: 13px 15px;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}

/* http://www.colorhexa.com/70b8ff 
   twee naar links bij Monochromatic Color
*/
.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus,
.navbar-default .navbar-header .navbar-brand:active {
  color: #fff;
  
  background-color: #3d9fff;
  border: solid 2px #3d9fff;
}

.navbar-default .nav li a,
.navbar-default .nav li a:focus {
  color: #576366;
  font-size: 1.1em;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}

@media screen and (min-width: 768px) {
  .navbar-default .navbar-nav .active a,
  .navbar-default .navbar-nav .active a:focus {
    /*background-color: transparent;
     color: #1E88E5;*/
     border-radius: 4px;
  }
}



.navbar-default .navbar-nav li a:hover {
  /*color: #222222;*/
}

.navbar-default .navbar-toggle {
  border-color: #fff;
}




/***********************************
NAVBAR TOGLE ANIMATION TO X 
https://julienmelissas.com/animated-x-icon-for-the-bootstrap-navbar-toggle/
added collapsed class to <button type="button" class="navbar-toggle 
add classes top-bar, middle-bar and bottom-bar to <span class="icon-bar
***********************************/

.navbar-toggle {
  border: none;
  background: transparent !important;
}
.navbar-toggle:hover {
  background: transparent !important;
}
.navbar-toggle .icon-bar {
  width: 22px;
  transition: all 0.2s;
}
.navbar-toggle .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
.navbar-toggle .middle-bar {
  opacity: 0;
}
.navbar-toggle .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}

/* default hamburger symbol */
.navbar-toggle.collapsed .top-bar {
  transform: rotate(0);
}
.navbar-toggle.collapsed .middle-bar {
  opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
  transform: rotate(0);
}




/***********************************
HERO 
***********************************/

#hero-section {
  /* font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; */
  padding: 100px 20px 20px 20px;
  text-align: center;
  height: 320px;
  color: white;

  background: linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ), url('https://www.largoresorts.nl/sites/default/files/styles/header__1900x700_/public/header-largo-city.jpg?itok=rC2FQv7g&timestamp=1519817101');
  background-position: 50% 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  #hero-section {
    padding: 200px 20px 20px 20px;
    height: 560px;
  }
}

#hero-section h1 {
  font-size: 2.571em;
}

#hero-section h1 small {
  color: #fff;
}

@media screen and (min-width: 768px) {
  #hero-section h1 {
    font-size: 4.5em;
  }
}

.offer {
  text-align: center;
}
.btn-boeken, .btn-boeken:hover, .btn-boeken:visited {
  border: solid 2px #70B8FF;
  border-radius: 4px;
  background-color: #70B8FF;
  color: #fff;
  padding: 13px 15px;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  font-size: 1.3em;
  text-decoration: none !important;
  font-family: "Source Sans Pro", "Open Sans", sans-serif;
  font-weight: 600;
}

.btn-boeken:hover, .btn-boeken:active, .btn-boeken:focus {
  background-color: #3d9fff;
  border: solid 2px #3d9fff;
}


/***********************************
FACILITEITEN 
***********************************/

hr {
  margin-top: 36px;
  margin-bottom: 36px;
}

#faciliteiten ul  {
  list-style: none;
  padding: 0px;
  margin-top: 10px;
  font-size: 15px;
}

#faciliteiten li:before {
  content: "•";
  position: absolute;
  left: -3px;
  font-size: 21px;
  /*color: #d8d8d8;*/
  color: #70B8FF;
  left: -1px;
  top: -3px;
}

#faciliteiten li {
    position: relative;
    padding-left: 16px; 
}


/***********************************
FLOORPLAN
***********************************/

@media all and (max-width: 1024px) {
  #floorplan {
    display: none;
  }
}


/***********************************
SWIPER
***********************************/

.swiper-container {    
    margin: 0 auto;
    margin-top: 30px;   
}     


.swiper-container img {
    max-width: 100%;  
}    

.swiper-pagination{
  color: #fff;
  text-shadow: 0 0 5px #000;
  
}

 .swiper-pagination-bullet {
  background-color: transparent;
    border: 1px solid #fff;
   opacity: 1;
       width: 10px;
    height: 10px;
}
 
  .swiper-pagination-bullet-active {
      background-color:#fff; 
  }

.swiper-button-prev,
.swiper-button-next {
  opacity: .6;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  opacity: 1;
}

/***********************************
FACILITIES
***********************************/
.facilities ul {
  list-style: none;
  padding: 0;
  margin-top: 40px;
    margin-left: 15px;
}

.facilities li {
  display: block;
  padding-bottom: 15px;

  font-size: 1em;
  
}

.facilities .fas {
  font-size: 3em;
  color:rgb(183, 141, 47);
  opacity: .7;
  margin-right: 5px;
  vertical-align: middle;
}


.omgeving-title {
  padding-top: 60px;
}


/* card-villa */
.card-villa {

  border: 0;
  border-radius: 4px;
  display: inline-block;
  position: relative;
  width: 100%;
  margin-bottom: 30px;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  -webkit-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
  -moz-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
  -o-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
  -ms-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
  transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
}

.card-villa:hover {

    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
}

.card-villa img {
  width: 100%;
  border-radius: 4px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.card-villa-body {
  padding: 20px;
}

.card-villa-category {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 5px;
  background-color: #28a745;
  border-radius: 4px;
  font-weight: 700;
  font-size: 0.9em;
  color: #fff;
  margin-bottom: 8px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(76,175,80,0.14), 0 3px 1px -2px rgba(76,175,80,0.2), 0 1px 5px 0 rgba(76,175,80,0.12);
    box-shadow: 0 2px 2px 0 rgba(76,175,80,0.14), 0 3px 1px -2px rgba(76,175,80,0.2), 0 1px 5px 0 rgba(76,175,80,0.12);
}

.card-villa-body-title {
  margin-bottom: 12px;
  margin-top: 15px;
  font-size: 1.3em;
  font-weight: 400;
  color: rgb(44, 44, 44);
}

.card-villa-body-description {
  margin-bottom: 16px;
  font-size: 1.2em;
  font-weight: 300;
  color: rgb(154, 154, 154);
  min-height: 70px;
}

.card-villa-footer {
  margin-top: 15px;
}

.card-villa-footer a,
.card-villa-footer a:focus,
.card-villa-footer a:active  {
  transition: all 150ms ease 0s;
  background-color: #4bb5ff;
  color: #FFFFFF;
  border: none;
  font-size: 12px;
  font-weight: 400;
  padding: 11px 22px;
}

.card-villa-footer a:hover {
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.17);
  background-color: #4bb5ff;
  color: #fff;
}


/***********************************
FOOTER
***********************************/

.map {
  padding-bottom: 0;
  padding-top: 0;
  margin-top: 60px;
}
#google-map {
  /*-webkit-filter: grayscale(100%);
          filter: grayscale(100%);*/
}

.main-footer {
  padding-top: 50px;  
  padding-bottom: 50px;  
}

address {
  margin-left: 15px;
}
address .glyphicon {
  position: absolute;
  left: 10px;
}

footer .btn-default {
  background-color: transparent;
}

.social-icon{
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.social-icons {
  clear: both;
  padding-top: 25px;
}

.social-icon-like {
  float: left;
}

.dropup {
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  #fb {
    margin-left: 15px;
  }
  
  .dropup {
      float: right;
  }
  
  .social-icon {
    float: right;
  }
}
